
<button style="float: right;  margin-right: 10%;">Add Product</button>
<h1>User Selling Products Table</h1>


<table id="customers">
  <tr>
    <th>Picture</th>
    <th>Name</th>
    <th>Price</th>
    <th>Quintity</th>
    <th>Sales</th>
  </tr>
  
  <tr>
    <td class="pic"><img src="https://firebasestorage.googleapis.com/v0/b/onlineshopproject-f022b.appspot.com/o/OIP.jpg?alt=media&token=423e2b2b-4e92-4898-b34f-35c95d64f1bb"></td>
    <td>Christina Berglund</td>
    <td>Sweden</td>
    <td></td>
    <td></td>
  </tr>
  
</table>





