<!-- <div class="shop_list">
  <div class="container" >
    <div class="images" >
      <img src={{viewProductz.image}}>

    </div>

    
    <div class="product">
      <h1 style="text-transform: uppercase;">{{viewProductz.nameofProduct}}</h1>
      <h2>R{{viewProductz.price}}</h2>
      <p class="desc">{{viewProductz.description}}</p>
      <div class="buttons">
        <button class="add" >Add to Cart</button>  
        <button class="like"><span>♥</span></button>
      </div>
    </div>
  </div>
</div>

   -->
