<div class="shop_list">
  <div class="container" *ngFor="let product of products">
    <div class="images" (click)="nevigateToDetails(product.id)" >
      <img src={{product.image}}>

    </div>

    
    <div class="product">
      <h1 style="text-transform: uppercase;">{{product.nameofProduct}}</h1>
      <h2>R{{product.price}}</h2>
      <p class="desc">{{product.description}}</p>
      <div class="buttons">
        
        <button class="Add" style="background-color: rgb(0, 248, 54); color: black;" *ngIf="isAdded(product.isOnCart); else  AddToCart">
          <span class="tick"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>  
          </span></button>
          
        
<ng-template #AddToCart>
  <button class="add" (click)="addToCart(product.id)" >Add to Cart</button>
</ng-template>
        <button class="like"><span>♥</span></button>
      </div>
    
    </div>
  </div>
</div>
  
