.products-info{
    
    display: inline-flex;
    padding: 8px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.info-box{
    width: 20%;
    height: 20%;
    margin: auto;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 2%;
    text-align: center;
}
.user-details h1{
    text-align: center;
}
.user-details{
    margin: auto;
}
table{
    width: 60%;
    margin: auto;
    border: 1px solid black;
}

.dets{
    background-color: rgb(218, 217, 217);
}
th, td {
    padding: 15px;
    text-align: left;
  }