<div class="products-info">
    <div class="info-box" (click)="navigateTo('/home/user/product')">
                <h2>Number of Products</h2>
        <p>1</p>
    
    </div>
    <div class="info-box" >
        <h2>History</h2>
        <p>2</p>
    </div>
    <div class="info-box">
        <h2>Wallet</h2>
        <p><b> R{{getWalletAmount()}}</b></p>
    </div>

</div>
<div class="user-details">
    <h1>User Details</h1>
    <table>
        <tr>
            <td>Name</td>
            <td class="dets"><b>linda</b></td>
        </tr>
        <tr>
            <td>Surname</td>
            <td class="dets"><b>Sibeko</b></td>
        </tr>
        <tr>
            <td>Email</td>
            <td class="dets"><b>Sibeko@gmail.com</b></td>
        </tr>
    </table>
</div>